body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #222; /* Fundo escuro */
    margin: 0;
    color: white; /* Texto branco */
}

#cobrinhaCanvas {
    border: 2px solid white;
    display: block;
    background-color: #111; /* Fundo do canvas escuro */
}

#pontuacao {
    margin-top: 20px;
    font-size: 24px;
}